<header>
    <div class="px-3 py-2 border-bottom header">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img src="assets/Logo.png" alt="Logo" class="d-block mx-auto mb-1" style="width: 60px; height: 60px;">
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a routerLink="/jm/employee-management/home" routerLinkActive="text-selected" class="nav-link text-white">
                            <div class="icon">
                                <i class="d-block mx-auto mb-1 fa-solid fa-house"></i>
                            </div>
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a routerLink="/jm/employee-management/employee" routerLinkActive="text-selected" class="nav-link text-white">
                            <div class="icon">
                                <i class="d-block mx-auto mb-1 fa-solid fa-address-book"></i>
                            </div>
                            Empleados
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>